<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css"> <!-- should have searched for file within the view folder but
                                                    !if no path is provided  it will go for files in public folder-->
</head>
<body>
    <h1>home</h1>
    <h3>jio <%= name %></h3>                  <!-- here whatever we wright inside `<%= %>`  this is treated as javascript expression-->
</body>

<script src="script.js"></script>
</html>