<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>login</title>
  </head>
  <body>
    <div class="back min-h-screen flex justify-center items-center">
        <div class="container w-80 h-60 
                    flex flex-col justify-center items-center
                    gap-6">
          <div>message sent successfully</div>
          <form method=" " action="/logout">
            <button type="submit" class="butt w-36 p-2 border-0 rounded-md bg-purple-400">
              logout
            </button>
          </form>
        </div>
      </div>
  </body>
</html>
